<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
 <div class="application bg-light">
  <div class="mb-5" style="display: flex;justify-content: space-between" >
    <h4>Add Draw Flag Game</h4>
    <button onclick="location='/game-management/new-flag/draw-new-flags'" type="button" class="btn btn-success">Draw New Flags</button>
  </div>
    <%- include ('./partials/SuccessError'); -%>
    <form class="add-quiz-form row needs-validation" action="/game-management/draw-flags-games" method="POST" enctype="multipart/form-data" novalidate>
    <div class="row" >
      <div class="col-md-6">
        <input name="gameName" placeholder="Please Enter Game Name" type="text" class="form-control" id="drawFlagGameName" required>
      </div>
      <div class="col-md-6">
        <input maxlength="200" name="gameDetail" placeholder="Please Enter Game Detail" type="text" class="form-control" id="drawFlagGameDetail" required>
      </div>
      <div class="col-md-6 mt-3">
        <label for="countryImg" class="form-label">Country Image</label>
        <div class="add-quiz-state-image">
            <input class="add-quiz-image-input formFile form-control" type="file" id="countryImg" name="countryImg" required>
        </div>
      </div> 
    </div>
    <hr>
     <div id="setNewForm">
        <div class="form-data">
          <div class="row">
              <div class="col-md-6 position-relative mt-3">
                <select class="form-select" name="country" id="countryIDAdd0" onchange="selectedCountry(this)" required> 
                  <%data?.forEach(item => {%>  
                    <option hidden>Please Select Country</option>                     
                    <option value="<%=item.country%>"><%=item.country%></option>  
                  <%})%>
                </select> 
              </div>
              <div class="col-md-6 position-relative mt-3">
                <input readonly name="flagUrl" placeholder="Flag Url" type="text" class="form-control" id="flagUrlAdd0" required>
                <div class="invalid-tooltip">
                  Please provide Flags Url.
                </div>
              </div>
              <div class="col-md-6 position-relative mt-3">
                  <input readonly name="flagDetails" placeholder="Flags Details" type="text" class="form-control" id="flagDetailsAdd0" required>
                  <div class="invalid-tooltip">
                    Please provide Flags Details.
                  </div>
              </div>
              <div class="col-md-6 position-relative mt-3">   
                  <input readonly name="correctColors" placeholder="Selected Colors" type="text" class="form-control" id="correctColorsAdd0" required>
                  <div class="invalid-tooltip">
                    Please provide Selected Colors.
                  </div>
              </div>
              <div class="col-md-6 position-relative mt-3">
                  <input readonly name="arrangement" placeholder="Selected Arrangement" type="text" class="form-control" id="arrangementAdd0" required>
                  <div class="invalid-tooltip">
                    Please provide Arrangement.
                  </div>
              </div> 
              <div class="col-md-6 position-relative mt-3">
                <input readonly name="shapeImg" placeholder="Flag shape" type="text" class="form-control" id="shapeImgAdd0" required>
              </div>
          </div>
          <hr>
          </div>
          </div>
        <div class="col-12 mt-4">
            <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button>
            <button style="float: right; border-radius: 50%; background-color: #a8171a;color: white;" class="show-form btn " type="button"><i class="fa-solid fa-plus"></i></button>
        </div>
      </form>

    <!-- Add Multiple Questions -->
      <div style="display: none;" >
        <div id="addNewForm" class="form-data">
          <div class="row">
            <div class="col-md-6 position-relative mt-3">
                <select class="form-select" name="country" id="countryIDAdd" onchange="selectedCountry(this)" required> 
                  <%data?.forEach(item => {%>  
                    <option hidden>Please Select Country</option>                     
                    <option value="<%=item.country%>"><%=item.country%></option>  
                  <%})%>
                </select> 
              </div>
              <div class="col-md-6 position-relative mt-3">
                <input readonly name="flagUrl" placeholder="Flag Url" type="text" class="form-control" id="flagUrlAdd" required>
                <div class="invalid-tooltip">
                  Please provide Flags Url.
                </div>
              </div>
              <div class="col-md-6 position-relative mt-3">
                  <input readonly name="flagDetails" placeholder="Flags Details" type="text" class="form-control" id="flagDetailsAdd" required>
                  <div class="invalid-tooltip">
                    Please provide Flags Details.
                  </div>
                </div>
                <div class="col-md-6 position-relative mt-3">   
                  <input readonly name="correctColors" placeholder="Selected Colors" type="text" class="form-control" id="correctColorsAdd" required>
                  <div class="invalid-tooltip">
                    Please provide Selected Colors.
                  </div>
              </div>
                <div class="col-md-6 position-relative mt-3">
                  <input readonly name="arrangement" placeholder="Selected Arrangement" type="text" class="form-control" id="arrangementAdd" required>
                  <div class="invalid-tooltip">
                    Please provide Arrangement.
                  </div>
                </div> 
              <div class="col-md-6 position-relative mt-3">
                <input readonly name="shapeImg" placeholder="Flag shape" type="text" class="form-control" id="shapeImgAdd" required>
              </div>
          </div>
          <hr>
                </div>
                </div>
      </div> 
</div>
<script>
  async function selectedCountry(element)
  {
    let id = element.getAttribute("id")
    var num = id.match(/(\d+)/)[0];
    const countryName = document.getElementById(id).value;
    const response = await fetch(`/game-management/draw-flags-games/countryName/${countryName}`);
    const data = await response.json(); 
   
    document.getElementById(`flagUrlAdd${num}`).value = data.flagUrl;
    document.getElementById(`flagDetailsAdd${num}`).value = data.flagDetails;
    document.getElementById(`correctColorsAdd${num}`).value = data.correctColors;
    document.getElementById(`arrangementAdd${num}`).value = data.arrangement;  
    document.getElementById(`shapeImgAdd${num}`).value = data.shapeImg; 
  }
</script>  
<script src="/admin/js/multiQuestionsDrawFalg.js"></script>
