<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light">
    <h3 class="test-name">Draw New Flags</h3>
  <%- include ('./partials/SuccessError'); -%>
  <div style="overflow-x:auto;">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th class="table-hash-col">#</th>
          <th style="width: 500px !important;">Country Name</th>
          <th >Flag Url</th>
          <th >Shape Img</th>
          <th >Colors</th>
          <th >Arrangement</th>
          <th class="table-buttons">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%var count = 1%>
        <%data.forEach(val => {%>
        <tr>
          <th scope="row"><%=count%></th>
          <td><%=val.country%></td>
          <td><%=val.flagUrl%></td>
          <td><%=val.shapeImg%></td>
          <td><%=val.correctColors.map(val => val.colors)%></td>
          <td><%=val.arrangement%></td>
          <td>
            <span class="table-buttons">
              <button
              onclick="editFlag(`<%=val._id%>`)"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                class="btn btn-primary"
              >
                Edit
              </button>
              <form action="/game-management/draw-new-flags/<%=val._id%>?_method=Delete" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </span>
          </td>
        </tr>
        <%count++%>
        <%})%>
      </tbody>
    </table>
    </div>

    <div>
      <button
        data-bs-toggle="modal"
        data-bs-target="#exampleModal1"
        type="button"
        class="btn btn-success mt-3"
      >
        Add New Flags
      </button>
    </div>

    <!-- Add New Quiz -->
    <div
      class="modal fade"
      id="exampleModal1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Add New Flag
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="draw-flag-form" class="add-quiz-form row needs-validation" enctype="multipart/form-data" novalidate>
                 <div id="setNewForm">
                    <div class="form-data">
                      <div class="row">
                        <div class="col-md-6 position-relative mt-4">
                          <label for="newCountry" class="form-label">Country</label>
                          <input name="country" placeholder="Enter Country Name" type="text" class="form-control" id="newFlagCountry" required>
                          <div class="invalid-tooltip">
                            Please provide Country Name.
                          </div>
                      </div>
                      <div class="col-md-6 position-relative mt-4">
                        <label for="newFlagUrl" class="form-label">Flag Url</label>
                        <input name="flagUrl" placeholder="Flag Url" type="text" class="form-control" id="newFlagUrl" required>
                        <div class="invalid-tooltip">
                          Please provide a Flag Url.
                        </div>
                    </div>
                        <div class="col-md-6 position-relative mt-3">
                          <label for="newflagDetails" class="form-label">Flag Details</label>
                          <input name="flagDetails" placeholder="Please Enter Flags Details" type="text" class="form-control" id="newflagDetails" required>
                          <div class="invalid-tooltip">
                            Please provide a Flags Details.
                          </div>
                        </div>
                          <div class="col-md-6 position-relative mt-3">
                            <label class="form-label">Select Shape</label>
                            <div class="add-quiz-state-image">
                              <input class="add-quiz-image-input formFile form-control" type="file" name="shapeImg" id="newshapeImg" onchange="preview()" required> 
                            </div> 
                          </div>
                        <div class="col-md-6 position-relative mt-3">
                            <div class="container" style="padding: 0%;">
                                <label class="form-label">Select Colors</label>
                                <select multiple data-multi-select-plugin name="correctColors" id="colorsID" required>
                                  <option  hidden>Please Select Colors</option>                     
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 position-relative mt-3"> 
                            <label for="arrangementID" class="form-label">Enter Arrangement</label>
                            <!-- <input name="arrangement" placeholder="Enter Arrangement" type="text" class="form-control" id="arrangementID" required> -->
                            <select name="arrangement" class="form-select" id="arrangementID" required> 
                              <option hidden>Please Select Arrangements</option>                     
                              <option value="twoStripesVert">Two Stripes Vertical</option>                    
                              <option value="twoStripesHoriz">Two Stripes Horizontal</option>                    
                              <option value="threeStripesVert">Three Stripes Vertical</option>                    
                              <option value="threeStripesHoriz">Three Stripes Horizontal</option> 
                            </select>
                            <div class="invalid-tooltip">
                              Please provide Arrangement.
                            </div>  
                        </div>
                      </div>
                      </div>
                      </div>
                    <div class="col-12 mt-4">
                        <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button>
                    </div>
                  </form>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Add New Quiz -->

    <!-- Edit Quiz -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Edit Flag
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              id="editFlagForm"
              class="add-quiz-form row g-4 needs-validation"
              novalidate
              action=""
              method="POST"
              enctype="multipart/form-data"
            >
            <div id="setEditForm">
              <div class="form-data">
                <div class="row">
                  <div class="col-md-6 position-relative mt-4">
                    <label for="editCountry" class="form-label">Country</label>
                    <input name="country" placeholder="Enter Country Name" type="text" class="form-control" id="editCountry" required>
                    <input hidden name="hideID" type="text" id="hideID">
                    <div class="invalid-tooltip">
                      Please provide Country Name.
                    </div>
                </div>
                <div class="col-md-6 position-relative mt-4">
                  <label for="editFlagUrl" class="form-label">Flag Url</label>
                  <input name="flagUrl" placeholder="Flag Url" type="text" class="form-control" id="editFlagUrl" required>
                  <div class="invalid-tooltip">
                    Please provide a Flag Url.
                  </div>
              </div>
                  <div class="col-md-6 position-relative mt-3">
                    <label for="editFlagDetails" class="form-label">Flag Details</label>
                    <input name="flagDetails" placeholder="Please Enter Flags Details" type="text" class="form-control" id="editFlagDetails" required>
                    <div class="invalid-tooltip">
                      Please provide a Flags Details.
                    </div>
                  </div>
                    <div class="col-md-6 position-relative mt-3">
                      <label class="form-label">Select Shape</label>
                      <div class="add-quiz-state-image">
                        <input class="add-quiz-image-input formFile form-control" type="file" name="shapeImg" onchange="preview()"> 
                      </div> 
                    </div>
                  <div class="col-md-6 position-relative mt-3">
                      <div class="container" style="padding: 0%;">
                          <label class="form-label">Select Colors</label>
                          <select multiple data-multi-select-plugin name="correctColors" id="editColorsID">  
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6 position-relative mt-3"> 
                      <label for="editArrangementID" class="form-label">Enter Arrangement</label>
                      <!-- <input name="arrangement" placeholder="Enter Arrangement" type="text" class="form-control" id="editArrangementID" required> -->
                      <select name="arrangement" class="form-select" id="editArrangementID" required> 
                        <option hidden>Please Select Arrangements</option>                     
                        <option value="twoStripesVert">Two Stripes Vertical</option>                    
                        <option value="twoStripesHoriz">Two Stripes Horizontal</option>                    
                        <option value="threeStripesVert">Three Stripes Vertical</option>                    
                        <option value="threeStripesHoriz">Three Stripes Horizontal</option> 
                      </select>
                      <div class="invalid-tooltip">
                        Please provide Arrangement.
                      </div>  
                  </div>
                </div>
                </div>
                </div>
              <div class="col-12 mt-4">
                  <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Quiz -->
  </div>
  <!--Container Main end-->

  <script>
  
  //Add New Flag
  let draw_flag_form = document.getElementById("draw-flag-form");
  draw_flag_form.addEventListener("submit",getFormData)  
  function getFormData(e){ 
    e.preventDefault();
    var formData = new FormData(draw_flag_form); //.forEach((val, key) => dataToSave[key] = val)
   
    var selectedColors = [];
    for (var i = 0; i < e.target[4].length; i++) {  
    if (e.target[4][i].selected) {
        selectedColors.push({colors :e.target[4][i].value});
      }
    } 

    formData.append("selectedColors", JSON.stringify(selectedColors)); 
 
    fetch(`/game-management/draw-new-flags`, {
      method: "POST",
      body: formData, 
    }).then((response) => response.json())
      .then((data) => {   
        window.location.href = data.url;
      })
      .catch(console.log);
  }

  //Edit New Flag
  async function editFlag(id) { 
      const response = await fetch(`/game-management/draw-new-flags/${id}/edit`);
      const data = await response.json();
  
      document.getElementById("editCountry").value = data.country; 
      document.getElementById("editFlagUrl").value = data.flagUrl;
      document.getElementById("editFlagDetails").value = data.flagDetails; 
      document.getElementById("editArrangementID").value = data.arrangement; 
      document.getElementById("hideID").value = id;
    }
  //Update New Flag
  let edit_Flag_Form = document.getElementById("editFlagForm");
  edit_Flag_Form.addEventListener("submit",updateFormData)  
  function updateFormData(e){ 
    e.preventDefault();
    var formData = new FormData(edit_Flag_Form); //.forEach((val, key) => dataToSave[key] = val)
   
    var selectedColors = [];
    for (var i = 0; i < e.target[5].length; i++) {  
    if (e.target[5][i].selected) {
        selectedColors.push({colors :e.target[5][i].value});
      }
    }  
 
    formData.append("selectedColors", JSON.stringify(selectedColors)); 
 
    fetch(`/game-management/draw-new-flags/${hideID.value}`, {
      method: "PUT",
      body: formData, 
    }).then((response) => response.json())
      .then((data) => {   
        window.location.href = data.url;
      })
      .catch(console.log);
  }

  </script>
  <script src="/admin/js/allQuiz.js"></script>
  <script src="/admin/js/draw-new-flag.js" ></script>
</div>
