<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light">
  <h3>Manage Quiz</h3>
  <div class="cards row">
    <% data.forEach(single => { %> 
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card dashboard-card border-bottom-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col mr-2">
              <div class="card-title text-xs font-weight-bold text-uppercase mb-1">
                <li><%=single.stateName%></li> 
                <li><%=single.quizName%></li> 
              </div>
              <div class="h5 mb-2 dashboard-total-rating">Questions: <%=single.questions.length%></div>
              <div class="">
                <a class="btn btn-info" href="/manage-quiz/<%=single._id%>/all-quiz">Edit</a>
                <a class="btn btn-danger" onclick="deleteItem('<%=single._id%>')">Delete</a>
                <!-- <form class="d-inline" id="delete-form" action="/manage-quiz/<%=single._id%>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <%})%>
  </div>
</div>
<!--Container Main end-->

<script>
  async function deleteItem(id) {    
    if(confirm("Sure you want to delete this Question..?"))
    {
      await fetch(`/manage-quiz/${id}`, {
        method: "DELETE", 
        headers: {
          "Content-Type": "application/json",
        }
      }).then((response) => response.json())
        .then((data) => {  
          window.location.href = data.url;
        })
        .catch((error) => {
          console.log("Error:");
          console.log(error);
        });
    } 
  }  
</script>