<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light">
  <span style="display: flex;">
    <h3 class="test-name" >
      <%=data.unit.toUpperCase()%>
    </h3> 
  </span> 
  <%- include ('../partials/SuccessError'); -%>

  <!-- flagQuest -->
  <% if(data.flagQuest.length > 0) { %>
    <div style="overflow-x:auto;">
    <h5 class="text-primary mt-3"><i><u>Flag Quest</u></i></h5>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th class="table-hash-col">#</th>
          <th>Country</th> 
          <th>Correct Img</th>
          <th>Incorrect Img 1</th>
          <th>Incorrect Img 2</th>
          <th>Incorrect Img 3</th>
          <th>Hint</th>
          <th>Detail</th>
          <th class="table-buttons">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%var count = 1%>
        <% data.flagQuest.forEach(item => { %> 
          <tr>
            <th scope="row"><%=count%></th>
            <td><%=item.country%></td> 
            <td><img class="border" width="50" src="<%=item.correctImg%>" alt="..img"></td>
            <td><img class="border" width="50" src="<%=item.IcorrectImg1%>" alt="..img"></td> 
            <td><img class="border" width="50" src="<%=item.IcorrectImg2%>" alt="..img"></td> 
            <td><img class="border" width="50" src="<%=item.IcorrectImg3%>" alt="..img"></td> 
            <td><%=item.hint%></td> 
            <td><%=item.detail%></td> 
            <td>
              <span class="table-buttons">
                <!-- <button onclick="editFlagQuestGameQuestion(`<%=data._id%>`, `<%=JSON.stringify(item)%>`)" data-bs-toggle="modal" data-bs-target="#FlagQuestEditModal" class="btn btn-primary">Edit</button> -->
                <form action="/admin/pod-adventure/manage/flag-quest/<%=data._id%>/<%=item._id%>?_method=DELETE" method="POST"> 
                  <button type="submit" class="btn btn-danger">Delete</button> 
                </form>
              </span>
            </td>
          </tr>
          <%++count%> 
        <%})%> 
      </tbody>
    </table>
    </div>
  <% } %>
  <!-- flagDetective -->
  <% if(data.flagDetective.length > 0) { %>
    <div style="overflow-x:auto;">
     <h5 class="text-primary mt-3"><i><u>Flag Detective</u></i></h5>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th class="table-hash-col">#</th>
          <th>Country</th>
          <th>Flag Image</th>
          <th>Hint</th>
          <th>Detail</th>
          <th class="table-buttons">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%var count = 1%>
        <% data.flagDetective.forEach(item => { %> 
        <tr>
          <th scope="row"><%=count%></th>
          <td><%=item.country.toUpperCase()%></td>
          <td><img class="border" width="50" src="<%=item.flagUrl%>" alt="..img"></td>
          <td><%=item.hint%></td>
          <td><%=item.detail%></td>
          <td>
            <span class="table-buttons">
              <button onclick="editFlagDetectiveGameQuestionInPodAdventure(`<%=data._id%>`, `<%=item._id%>`, 'flag-detective', `<%=item.country%>`, `<%=item.flagUrl%>`, `<%=item.hint%>`, `<%=item.detail%>`, `<%=item.region%>`)" data-bs-toggle="modal" data-bs-target="#FlagDetectiveEditModal" class="btn btn-primary">
                Edit
              </button>
              <form action="/admin/pod-adventure/manage/flag-detective/<%=data._id%>/<%=item._id%>?_method=Delete" method="POST">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </span>
          </td>
        </tr>
        <%count++%>
        <%})%> 
      </tbody>
    </table>
    </div>
  <% } %>
  <!-- flagPuzzle -->
  <% if(data.flagPuzzle.length > 0) { %>
    <div style="overflow-x:auto;">
     <h5 class="text-primary mt-3"><i><u>Flag Puzzle</u></i></h5>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th class="table-hash-col">#</th>
          <th>Country</th> 
          <th>Correct Img</th>
          <th>Hint</th>
          <th>Detail</th>
          <th class="table-buttons">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%var count = 1%>
        <% data.flagPuzzle.forEach(item => { %> 
          <tr>
            <th scope="row"><%=count%></th>
            <td><%=item.country.toUpperCase()%></td> 
            <td><img class="border" width="50" src="<%=item.flag%>" alt="..img"></td>
            <td><%=item.hint%></td>  
            <td><%=item.detail%></td>  
            <td>
              <span class="table-buttons">
                <!-- <button onclick="editFlagPuzzleGameQuestion(`<%=data._id%>`, `<%=JSON.stringify(item)%>`)" data-bs-toggle="modal" data-bs-target="#FlagPuzzleEditModal" class="btn btn-primary">Edit</button> -->
                <form action="/admin/pod-adventure/manage/flag-puzzle/<%=data._id%>/<%=item._id%>?_method=Delete" method="POST"> 
                  <button type="submit" class="btn btn-danger">Delete</button> 
                </form>
              </span>
            </td>
          </tr>
        <%count++%>
        <%})%> 
      </tbody>
    </table>
    </div>
  <% } %>
  <!-- guessCountry -->
  <% if(data.guessCountry.length > 0) { %>
    <div style="overflow-x:auto;">
    <h5 class="text-primary mt-3"><i><u>Guess Country</u></i></h5>
    <table class="table">
        <thead>
        <tr>
            <th class="table-hash-col" >#</th>
            <th class="table-question-col-flag">Flag</th>
            <th class="table-option-col" >Option A</th>
            <th class="table-option-col" >Option B</th> 
            <th class="table-answer-col" >Answer</th>
            <th class="table-answer-col" >Hint</th>
            <th class="table-answer-col" >Detail</th>
            <th class="table-action-col" class="table-buttons" >Actions</th>
        </tr>
        </thead>
        <tbody>
        <%var count = 1%>
        <% data.guessCountry.forEach(item => { %> 
            <tr>
            <th scope="row"><%=count%></th>
            <td ><img width="50px" height="40px" src="<%=item.flag%>" /></td>
            <td><%=item.optionA%></td>
            <td><%=item.optionB%></td> 
            <td><%=item.correct%></td>
            <td><%=item.hint%></td>
            <td><%=item.detail%></td>
            <td>
                <span class="table-buttons">
                  <button onclick="editGuessCountryGameQuestionInPodAdventure(`<%=data._id%>`, `<%=item._id%>`, 'guess-country', `<%=item.country%>`, `<%=item.flag%>`, `<%=item.optionA%>`, `<%=item.optionB%>`, `<%=item.correct%>`, `<%=item.hint%>`, `<%=item.detail%>`, `<%=item.region%>`)" data-bs-toggle="modal" data-bs-target="#GuessCountryEditModal" class="btn btn-primary">Edit</button>
                  <form action="/admin/pod-adventure/manage/guess-country/<%=data._id%>/<%=item._id%>?_method=DELETE" method="POST"> 
                      <button type="submit" class="btn btn-danger">Delete</button> 
                  </form>
                </span>
            </td>
            </tr>
            <%++count%> 
        <%})%> 
        </tbody>
    </table>
    </div>
  <% } %>
  <!-- guessFlag -->
  <% if(data.guessFlag.length > 0) { %>
    <div style="overflow-x:auto;">
    <h5 class="text-primary mt-3"><i><u>Guess Flag</u></i></h5>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th class="table-hash-col">#</th>
          <th >Country</th> 
          <th >Correct Img</th>
          <th >Incorrect Img</th>
          <th >Hint</th>
          <th >Detail</th>
          <th class="table-buttons">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%var count = 1%>
        <% data.guessFlag.forEach(item => { %> 
          <tr>
            <th scope="row"><%=count%></th>
            <td><%=item.country%></td> 
            <td><img class="border" width="50" src="<%=item.correctImg%>" alt="..img"></td>
            <td><img class="border" width="50" src="<%=item.IcorrectImg%>" alt="..img"></td> 
            <td><%=item.hint%></td> 
            <td><%=item.detail%></td> 
            <td>
              <span class="table-buttons">
                <button onclick="editGuessFlagGameQuestionInPodAdventure(`<%=data._id%>`, `<%=item._id%>`, 'guess-flag', `<%=item.country%>`, `<%=item.Icountry%>`, `<%=item.correctImg%>`, `<%=item.IcorrectImg%>`, `<%=item.hint%>`, `<%=item.detail%>`, `<%=item.region%>`)" data-bs-toggle="modal" data-bs-target="#GuessFlagEditModal" class="btn btn-primary">Edit</button>
                <form action="/admin/pod-adventure/manage/guess-flag/<%=data._id%>/<%=item._id%>?_method=DELETE" method="POST"> 
                  <button type="submit" class="btn btn-danger">Delete</button> 
                </form>
              </span>
            </td>
          </tr>
          <%++count%> 
        <%})%> 
      </tbody>
    </table>
    </div>
  <% } %>




    <!-- flagQuest Edit Quiz -->
    <div
      class="modal fade"
      id="FlagQuestEditModal"
      tabindex="-1"
      aria-labelledby="FlagQuestEditModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="FlagQuestEditModalLabel">
              Flag-Quest: Edit Question
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="" class="add-quiz-form row needs-validation" action="" method="POST" enctype="multipart/form-data" novalidate>
              <div id="setNewForm">
                 <div class="form-data">
                     <div class="row">
                         <div class="col-md-6 position-relative">
                             <label for="validationTooltip03" class="form-label">Country</label>
                             <select class="form-select" name="country" id="editCountry" onchange="editSelectedCountry(this)" required> 
                               <option hidden>Please Select Counrty</option>  
                             </select> 
                             <div class="invalid-tooltip">
                                 Please provide a Country Name.
                             </div>
                         </div>
                         <div class="col-md-6 position-relative">
                             <input hidden name="Icountry" id="editICountry" placeholder="Please Enter In Correct Country" type="text" class="form-control" required>
                             <div class="invalid-tooltip">
                                 Please provide a In Correct Country.
                             </div>
                         </div> 
                         <div class="col-md-12 position-relative mt-3">  
                              <label for="validationTooltip03" class="form-label">Correct Images</label>
                              <div class="add-quiz-state-image">
                                  <input readonly class="add-quiz-image formFile form-control" type="text" id="editFlagUrl" name="correctImg"> 
                              </div> 
                         </div> 
                         <div class="col-md-12 position-relative mt-3">
                             <label for="validationTooltip03" class="form-label">Select In-Correct Image 1</label>
                             <div class="add-quiz-state-image">
                                <input class="add-quiz-image formFile form-control" type="file" name="IcorrectImg[1]"> 
                             </div>
                         </div> 
                         <div class="col-md-12 position-relative mt-3">
                            <label for="validationTooltip03" class="form-label">Select In-Correct Image 2</label>
                            <div class="add-quiz-state-image">
                              <input class="add-quiz-image formFile form-control" type="file" name="IcorrectImg[2]"> 
                            </div>
                        </div> 
                        <div class="col-md-12 position-relative mt-3">
                          <label for="validationTooltip03" class="form-label">Select In-Correct Image 3</label>
                          <div class="add-quiz-state-image">
                             <input class="add-quiz-image formFile form-control" type="file" name="IcorrectImg[3]"> 
                          </div>
                        </div> 
                         <div class="col-md-12 mt-4 position-relative">
                             <label for="validationTooltip03" class="form-label">Hint</label>
                             <input name="hint" id="editHint" placeholder="Please Enter Detail" type="text" class="form-control" required>
                           </div>
                     </div>
                   </div>
                   </div>
                 <div class="col-12 mt-4">
                     <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button>
                 </div>
               </form>
          </div>
        </div>
      </div>
    </div>  
    
    <!-- flagDetective Edit Quiz -->
    <div
      class="modal fade"
      id="FlagDetectiveEditModal"
      tabindex="-1"
      aria-labelledby="FlagDetectiveEditModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="FlagDetectiveEditModalLabel">
              Flag-Detective: Edit Question
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              id="flagDetectiveEditForm"
              class="add-quiz-form row g-4 needs-validation"
              novalidate
              action=""
              method="POST" 
            >
                <div id="setEditForm">
                    <div class="form-data">
                      <div class="row">
                        <div class="col-md-6 position-relative"> 
                          <label for="editCountryOfDetective" class="form-label">Select Counrty</label>
                          <select class="form-select" name="country" id="editCountryOfDetective" onchange="getFlagOfSelectedCountry(this)" required> 
                              <option hidden>Please Select Counrty</option> 
                          </select> 
                          <div class="invalid-tooltip">
                              Please provide a Country Name.
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="editFlagUrlOfDetective" class="form-label"
                            >Flag Url</label
                          >
                          <div class="add-quiz-state-image">
                            <input readonly
                              class="add-quiz-image-input formFile form-control"
                              type="text"
                              id="editFlagUrlOfDetective"
                              name="flagUrl"  
                            />
                          </div>
                        </div>
                        <div class="col-md-6 mt-2 position-relative">
                          <label for="editHintOfDetective" class="form-label">Enter Hint</label>
                          <input
                            maxlength="200"
                            name="hint" 
                            id="editHintOfDetective"
                            type="text"
                            class="form-control"
                            required
                          />
                        </div>
                        <div class="col-md-6 mt-2 position-relative">
                          <label for="editDetailOfDetective" class="form-label">Enter Detail</label>
                          <input
                            maxlength="200"
                            name="detail" 
                            id="editDetailOfDetective"
                            type="text"
                            class="form-control"
                            required
                          />
                        </div>
                      </div>
                    </div>
                </div>
              <div class="col-12 mt-4">
                  <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- flagPuzzle Edit Quiz -->
    <div
      class="modal fade"
      id="FlagPuzzleEditModal"
      tabindex="-1"
      aria-labelledby="FlagPuzzleEditModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="FlagPuzzleEditModalLabel">
              Flag-Puzzle: Edit Question
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="" class="add-quiz-form row needs-validation" action="" method="POST" novalidate>
              <div id="setNewForm">
                 <div class="form-data">
                    <div class="row">
                        <div class="col-md-12 position-relative">
                            <label for="validationTooltip03" class="form-label">Select Country</label>
                            <select class="form-select" name="country" id="editFlagPuzzleCountry" onchange="editSelectedCountryForPuzzle(this)" required> 
                              <option hidden>Please Select Counrty</option>  
                            </select> 
                            <div class="invalid-tooltip">
                                Please provide a Country Name.
                            </div>
                        </div> 
                        <div class="col-md-12 position-relative mt-3">
                            <label for="validationTooltip03" class="form-label">Flag</label>
                            <div class="add-quiz-state-image">
                                <input readonly class="add-quiz-image formFile form-control" id="editFlagPuzzleFlag" type="text" name="flag" required>
                            </div>
                        </div> 
                    </div>
                   </div>
                   </div>
                 <div class="col-12 mt-4">
                     <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button>
                 </div>
               </form>
          </div>
        </div>
      </div>
    </div>

    <!-- guessCountry Edit Quiz --> 
    <div class="modal fade" id="GuessCountryEditModal" tabindex="-1" aria-labelledby="GuessCountryEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="GuessCountryEditModalLabel">Guess-Country: Edit Question</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="EditGuessCountryForm" class="add-quiz-form row g-4 mt-1 needs-validation" novalidate action="" method="POST">
                  <div class="row">
                      <div class="col-md-6"> 
                        <label for="country" class="form-label">Select Country</label>
                        <select class="form-select" name="country" id="editCountryOfGuessCountry" onchange="getFlagOfSelectedCountry(this)" required> 
                          <option hidden>Please Select Country</option>     
                        </select> 
                      </div>
                      <div class="col-md-6"> 
                        <label for="flagUrl" class="form-label">Flag Url</label>
                        <input readonly name="flag" placeholder="Flag Url" type="text" class="form-control" id="editFlagOfGuessCountry" required>
                      </div>
                  </div>
                    <div class="modal-options  row" >
                    <div class="col-md-6 position-relative">
                      <label for="validationTooltip03" class="form-label">Option A</label>
                      <input name="optionA" id="EditOptionAGuessCountry" type="text" class="form-control" required>
                      <div class="invalid-tooltip">
                        Please provide a Option.
                      </div>
                    </div> 
                    <div class="col-md-6 position-relative">
                      <label for="validationTooltip03" class="form-label">Option B</label>
                      <input name="optionB" id="EditOptionBGuessCountry" type="text" class="form-control" required>
                      <div class="invalid-tooltip">
                        Please provide a Option.
                      </div>
                    </div>    
                    </div> 
                    <div class="col-md-12 position-relative" style="margin: 0px;">
                      <label for="validationTooltip03" class="form-label">Answer</label>
                      <input readonly name="correct" id="EditCorrectGuessCountry" placeholder="Correct Answer" type="text" class="form-control" required> 
                      <div class="invalid-tooltip">
                        Please provide a Answer.
                      </div>
                    </div>
                    <div class="col-md-12 position-relative" style="margin: 0px;">
                      <label for="validationTooltip03" class="form-label">Hint</label>
                      <input name="hint" id="EditHintGuessCountry" type="text" class="form-control">
                    </div> 
                    <div class="col-md-12 position-relative" style="margin: 0px;">
                      <label for="validationTooltip03" class="form-label">Detail</label>
                      <input name="detail" id="EditDetailGuessCountry" type="text" class="form-control">
                    </div>
                  <div class="col-12 mt-2">
                    <button data-bs-toggle="tooltip"  class="btn" style="background-color: #a8171a;color: white;" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">Submit</button>
                  </div>
                </form>
            </div>
          </div>
        </div>
    </div> 

    <!-- guessFlag Edit Quiz -->
    <div
      class="modal fade"
      id="GuessFlagEditModal"
      tabindex="-1"
      aria-labelledby="GuessFlagEditModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title fs-5" id="GuessFlagEditModalLabel">
              Guess-Flag: Edit Question
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="EditGuessFlagForm" class="add-quiz-form row needs-validation" action="" method="POST" enctype="multipart/form-data" novalidate>
              <div id="setNewForm">
                 <div class="form-data">
                     <div class="row">
                         <div class="col-md-6 position-relative">
                             <label for="validationTooltip03" class="form-label">Country</label>
                             <select class="form-select" name="country" id="editCountryOfGuessFlag" onchange="getFlagOfSelectedCountry(this)" required> 
                               <option hidden>Please Select Counrty</option>  
                             </select> 
                             <div class="invalid-tooltip">
                                 Please provide a Country Name.
                             </div>
                         </div>
                         <div class="col-md-6 position-relative">
                             <input hidden name="Icountry" id="editICountryOfGuessFlag" placeholder="Please Enter In Correct Country" type="text" class="form-control" required>
                             <div class="invalid-tooltip">
                                 Please provide a In Correct Country.
                             </div>
                         </div> 
                         <div class="col-md-12 position-relative mt-3">  
                              <label for="validationTooltip03" class="form-label">Correct Images</label>
                              <div class="add-quiz-state-image">
                                  <input readonly class="add-quiz-image formFile form-control" type="text" id="editFlagOfGuessFlag" name="correctImg"> 
                              </div> 
                         </div> 
                         <div class="col-md-12 position-relative mt-3">
                             <label for="validationTooltip03" class="form-label">Select In-Correct Images</label>
                             <div class="add-quiz-state-image">
                                <input class="add-quiz-image formFile form-control" type="file" name="IcorrectImg" onchange="preview()"> 
                                <input hidden name="IcorrectImgDelete" id="IcorrectImgDeleteOfGuessFlag" type="text" class="form-control" required>
                             </div>
                         </div> 
                         <div class="col-md-12 mt-4 position-relative">
                             <label for="validationTooltip03" class="form-label">Hint</label>
                             <input name="hint" id="editHintOfGuessFlag" placeholder="Please Enter Hint" type="text" class="form-control" required>
                          </div>
                          <div class="col-md-12 mt-4 position-relative">
                            <label for="validationTooltip03" class="form-label">Detail</label>
                            <input name="detail" id="editDetailOfGuessFlag" placeholder="Please Enter Detail" type="text" class="form-control" required>
                         </div>
                     </div>
                   </div>
                   </div>
                 <div class="col-12 mt-4">
                     <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button>
                 </div>
               </form>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!--Container Main end-->

<script>

  async function getCountriesOfRegion(region) {
    const response = await fetch(`/admin/flag-data-api/country/${region}`);
    const data = await response.json(); 

    let _html = '';
    document.getElementById("editCountryOfDetective").innerHTML = `<option hidden>Please Select Country</option>`;
    document.getElementById("editCountryOfGuessCountry").innerHTML = `<option hidden>Please Select Country</option>`;
    document.getElementById("editCountryOfGuessFlag").innerHTML = `<option hidden>Please Select Country</option>`;
    data.forEach(element => {
      _html += `<option value="${element.country}">${element.country}</option>`;
    });     
    document.getElementById("editCountryOfDetective").innerHTML += _html; 
    document.getElementById("editCountryOfGuessCountry").innerHTML += _html;
    document.getElementById("editCountryOfGuessFlag").innerHTML += _html;
  }

  async function getFlagOfSelectedCountry(e) { 
    const countryName = e.value; 
    const shuffledCountry = shuffleStr(countryName);  
    document.getElementById("editICountryOfGuessFlag").value = shuffledCountry;

    const response = await fetch(`/admin/flag-data-api/country-for-flag/${countryName}`);
    const data = await response.json();
    document.getElementById("editFlagUrlOfDetective").value = data.flag;
    document.getElementById("editFlagOfGuessCountry").value = data.flag;
    document.getElementById("EditCorrectGuessCountry").value = countryName.charAt(0).toUpperCase() + countryName.slice(1); 
    document.getElementById("editFlagOfGuessFlag").value = data.flag;
  }

  //Shuffle String Character Function
  function shuffleStr(s) { 
    let arr = s.split(''), arr_len = arr.length; 
    while (arr_len) {
      let rnd = Math.floor(Math.random() * arr_len--);
      [arr[arr_len], arr[rnd]] = [arr[rnd] , arr[arr_len]];
    } 
    let str = arr.join('');
    return str;
  }

  // Flag-Detective-Edit
  async function editFlagDetectiveGameQuestionInPodAdventure(Pid, Cid, module, country, flag, hint, detail, region) {  
    await getCountriesOfRegion(region);
  
    document.getElementById("editCountryOfDetective").innerHTML += `<option selected value="${country}">${country}</option>`; 
    document.getElementById("editFlagUrlOfDetective").value = flag;
    document.getElementById("editHintOfDetective").value = hint; 
    document.getElementById("editDetailOfDetective").value = detail; 
    document.getElementById("flagDetectiveEditForm").action = `/admin/pod-adventure/manage/${module}/${Cid}/${Pid}?_method=PUT`;
  } 

// Guess-Country-Edit
async function editGuessCountryGameQuestionInPodAdventure(Pid, Cid, module, country, flag, optionA, optionB, correct, hint, detail, region) {  
  await getCountriesOfRegion(region); 

  document.getElementById("editCountryOfGuessCountry").innerHTML += `<option selected value="${country}">${country}</option>`;
  document.getElementById("editFlagOfGuessCountry").value = flag;
  document.getElementById("EditOptionAGuessCountry").value = optionA;
  document.getElementById("EditOptionBGuessCountry").value = optionB; 
  document.getElementById("EditCorrectGuessCountry").value = correct; 
  document.getElementById("EditHintGuessCountry").value = hint; 
  document.getElementById("EditDetailGuessCountry").value = detail; 
  document.getElementById("EditGuessCountryForm").action = `/admin/pod-adventure/manage/${module}/${Cid}/${Pid}?_method=PUT`;
}

// Guess-Flag-Edit
async function editGuessFlagGameQuestionInPodAdventure(Pid, Cid, module, country, Icountry, correctImg, IcorrectImg, hint, detail, region) {   
  await getCountriesOfRegion(region); 
  
  document.getElementById("editCountryOfGuessFlag").innerHTML += `<option selected value="${country}">${country}</option>`;
  document.getElementById("editICountryOfGuessFlag").value = Icountry;
  document.getElementById("editFlagOfGuessFlag").value = correctImg; 
  document.getElementById("IcorrectImgDeleteOfGuessFlag").value = IcorrectImg;
  document.getElementById("editHintOfGuessFlag").value = hint; 
  document.getElementById("editDetailOfGuessFlag").value = detail; 
  document.getElementById("EditGuessFlagForm").action = `/admin/pod-adventure/manage/${module}/${Cid}/${Pid}?_method=PUT`;
}

</script>

