<% layout('Client/layouts/gameBoilerPlate') -%>
  <%-include('../partials/gameHeader')%>

    <section class="flag-quest-box">
      <div class="flag-quest-box-left">
        <div class="flag-quest-game">
          <div class="flag-quest-game-header">
            <span class="flag-detective-score-card questions_total_score score-text-slide-left"
              style="font-size: larger; font-weight: 700">
              Score : 01
            </span>
            <div class="score-text-slide-right" style="display: flex; gap: 5px; flex-wrap: wrap">
              <span class="flag-detective-music-on d-none flag-detective-sound ">
                <img src="/client/img/bg/volume_up_white_24dp.svg" />
              </span>
              <span class="flag-detective-music-off flag-detective-sound">
                <img src="/client/img/bg/volume_off_white_24dp.svg" />
              </span>
              <a href="/flag-quest/regions" class="flag-detective-score-card">
                <i class="fa-solid fa-xmark" style="color: #ffffff; font-size: larger"></i>
              </a>
            </div>
          </div>
          <p class="flag-quest-box-left-name slide-right quest_question_name"></p>
          <div class="flag-quest-flags guess-check">
            <div class="flag-quest-pair">
              <div class="option-one">
                <div class="loading-skeleton"></div>
              </div>
              <div class="option-two">
                <div class="loading-skeleton"></div>
              </div>
            </div>
            <div class="flag-quest-pair">
              <div class="option-three">
                <div class="loading-skeleton"></div>
              </div>
              <div class="option-four">
                <div class="loading-skeleton"></div>
              </div>
            </div>
            <div class="flag-quest-timer">
              <div class="flag-detective-game-timer">
                <div class="timer__background">
                  <div class="timer__display"></div>
                  <circle class="st0" cx="260.59" cy="260.59" r="253.09" />
                </div>
              </div>
            </div>
            <div class="question_wrong_or_right d-none">
              <img class="question_right" src="/client/img/icon/right.svg" />
              <img class="question_wrong" src="/client/img/icon/wrong.svg" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn ss-btn next_btn d-none" style="float: right; margin: 10px">
                Next Stage ➜
              </button>
              <button class="btn ss-btn result_btn d-none" style="float: right; margin: 10px">
                Show Result
              </button>
              <% if (data.level==0) { %>
                <a href="/flag-quest/<%=data.region.toLowerCase()%>/easy"><button class="btn ss-btn try_again d-none"
                    style="float: right; margin: 10px">
                    Try Again
                  </button></a>
                <% } else if(data.level==1) { %>
                  <a href="/flag-quest/<%=data.region.toLowerCase()%>/normal"><button
                      class="btn ss-btn try_again d-none" style="float: right; margin: 10px">
                      Try Again
                    </button></a>
                  <% } else if(data.level==2) { %>
                    <a href="/flag-quest/<%=data.region.toLowerCase()%>/hard"><button
                        class="btn ss-btn try_again d-none" style="float: right; margin: 10px">
                        Try Again
                      </button></a>
                    <% } else if(data.level==3) { %>
                      <a href="/flag-quest/<%=data.region.toLowerCase()%>/extreme"><button
                          class="btn ss-btn try_again d-none" style="float: right; margin: 10px">
                          Try Again
                        </button></a>
                      <% } %>
            </div>
          </div>
        </div>
      </div>
      <div class="flag-quest-box-right">
        <div class="manage-card">
          <div class="question-icon">
            <i class="fa-solid fa-question fa-2xl" style="color: #ffffff"></i>
          </div>
          <p class="question-name">Question</p>
          <p class="question-number">1/5</p>
        </div>
        <div class="manage-card">
          <div class="question-icon">
            <i class="fa-solid fa-question fa-2xl" style="color: #ffffff"></i>
          </div>
          <p class="question-name">Hint</p>
          <p class="question-hint">
            Pakistan is making progress by leaps and bounds.
          </p>
        </div>
        <div class="manage-card">
          <div class="question-icon">
            <i class="fa-solid fa-signal fa-2xl" style="color: #ffffff"></i>
          </div>
          <p class="question-name">Level</p>
          <p class="question-number question_level">Easy</p>
        </div>
      </div>
    </section>

    <section class="result_screen d-none">
      <div class="result_screen_flag">
        <div class="quest_flags">
          <!-- <div class="result_box_flag_box">
        <img
          width="100%"
          height="100px"
          src="/client/img/Flags/01-correct.svg"
        />
        <p class="result_screen_flag_name">Andorra</p>
      </div> -->
        </div>
        <div class="result_box_bottom">
          <a href="/flag-quest/regions" class="result_box_retake">
            <i class="fa-solid fa-xmark fa-2xl" style="color: #ffffff"></i>
          </a>
          <div class="result_box_score_box">
            <img width="100%" src="/client/img/icon/Group.svg" alt="" />
            <p class="result_box_score">350</p>
          </div>
          <button id="nextLevel" class="btn ss-btn">Next Level</button>
        </div>
      </div>
    </section>

    <script>
      var data = <%-JSON.stringify(data)%>;
      var currentLevel = '<%=data.level%>'; 
    </script>
    <script src="/client/js/flagQueastGame.js"></script>