<% layout('Admin/layouts/boilerPlate') -%>

    
     <!--Container Main start-->
     <div class="application bg-light">
      <span style="display: flex;">
        <h2 class="test-name" >
          <%=data.region.toUpperCase()%>
        </h2> 

        <% if(data.level == 0) {%>
          <h6 class="test-name">Easy</h6>
        <% }else if(data.level == 1){ %>
          <h6 class="test-name">Normal</h6>
        <% }else if(data.level == 2){ %>
          <h6 class="test-name">Hard</h6>
        <% }else if(data.level == 3){ %>
          <h6 class="test-name">Extreme</h6>
        <% } %> 
        
      <!-- <form class="edit-test" action="/admin/guess-country-game/manage/<%=data._id%>?_method=PUT" method="POST">
        <div style="display: flex;">
          <input class="add-quiz-image-input form-control" value="<%=data.region.toUpperCase()%>" name="region" id="formFile">
          <button class="edit-test-btn" type="submit" ><i class="fa-solid fa-check"></i></button>
        </div>
      </form>
      <i style="margin-left: 20px; margin-top: 5px;cursor: pointer;" class="test-edit fa-solid fa-pen"></i> -->
      </span> 
      <%- include ('../partials/SuccessError'); -%>
      <table class="table">
          <thead>
            <tr>
              <th class="table-hash-col" >#</th>
              <th class="table-question-col-flag">Flag</th>
              <th class="table-option-col" >Option A</th>
              <th class="table-option-col" >Option B</th>
              <th class="table-option-col" >Option C</th>
              <th class="table-option-col" >Option D</th>
              <th class="table-answer-col" >Answer</th>
              <th class="table-action-col" class="table-buttons" >Actions</th>
            </tr>
          </thead>
          <tbody>
            <%var count = 1%>
            <% data.questions.forEach(item => { %> 
              <tr>
                <th scope="row"><%=count%></th>
                <td ><img width="50px" height="40px" src="<%=item.flag%>" /></td>
                <td><%=item.optionA%></td>
                <td><%=item.optionB%></td>
                <td><%=item.optionC%></td>
                <td><%=item.optionD%></td>
                <td><%=item.correct%></td>
                <td>
                  <span class="table-buttons">
                    <button onclick="editQuestion(`<%=data._id%>`, `<%=JSON.stringify(item)%>`)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Edit</button>
                    <form action="/admin/guess-country-game/manage/<%=data._id%>/<%=item._id%>?_method=DELETE" method="POST"> 
                      <button type="submit" class="btn btn-danger">Delete</button> 
                    </form>
                  </span>
                </td>
              </tr>
              <%++count%> 
            <%})%> 
          </tbody>
        </table> 

        <div>
         <button data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button" class="btn btn-success">Add New Question</button>
        </div>

        <!-- Add New Question -->  
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">New Question</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="newQuestion" class="add-quiz-form row g-4 needs-validation" action="/admin/guess-country-game/manage/<%=data._id%>/new" method="POST" novalidate>
                    <div id="setNewForm">
                      <div class="form-data">
                        <div class="row">
                          <div class="col-md-6"> 
                            <label for="country" class="form-label">Select Country</label>
                            <select class="form-select" name="country" id="newCountryID" required> 
                              <option hidden>Please Select Country</option>     
                            </select> 
                          </div>
                          <div class="col-md-6"> 
                            <label for="flagUrl" class="form-label">Flag Url</label>
                            <input readonly name="flag" placeholder="Flag Url" type="text" class="form-control" id="newFlagUrl" required>
                          </div>
                        </div>
                        <div class="row">
                        <div class="col-md-3 position-relative">
                          <input name="optionA" placeholder="Option A" type="text" class="form-control" id="findCountryGameOptionA" required>
                          <div class="invalid-tooltip">
                            Please provide a Option A.
                          </div>
                        </div> 
                        <div class="col-md-3 position-relative">
                          <input name="optionB" placeholder="Option B" type="text" class="form-control" id="findCountryGameOptionB" required>
                          <div class="invalid-tooltip">
                            Please provide a Option B.
                          </div>
                        </div> 
                        <div class="col-md-3 position-relative">
                          <input name="optionC" placeholder="Option C" type="text" class="form-control" id="findCountryGameOptionC" required>
                          <div class="invalid-tooltip">
                            Please provide a Option C.
                          </div>
                        </div> 
                        <div class="col-md-3 position-relative">
                          <input name="optionD" placeholder="Option D" type="text" class="form-control" id="findCountryGameOptionD" required>
                          <div class="invalid-tooltip">
                            Please provide a Option D.
                          </div>
                        </div>
                        </div> 
                        <div class="row">
                        <div class="col-md-6 position-relative">
                          <label for="correctID" class="form-label">Correct Answer</label>
                          <input readonly name="correct" id="newCorrectID" placeholder="Correct Answer" type="text" class="form-control" required>
                          <div class="invalid-tooltip">
                            Please provide a Answer.
                          </div>
                        </div>
                        <div class="col-md-6 position-relative">
                          <label for="hint" class="form-label">Please Enter Hint</label>
                          <input name="hint" placeholder="Please Enter Hint" type="text" class="form-control" id="findCountryGameHint" required>
                          <div class="invalid-tooltip">
                            Please provide a Hint.
                          </div>
                        </div>
                        </div>
                        <hr>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button>
                    </div>
                    </form>
                </div>
              </div>
            </div>
          </div>  
        <!-- Add New Question -->
 
        <!-- Edit Question --> 
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Question</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="updateForm" class="add-quiz-form row g-4 needs-validation" novalidate action="" method="POST">
                      <div class="row">
                          <div class="col-md-6"> 
                            <label for="country" class="form-label">Select Country</label>
                            <select class="form-select" name="country" id="editCountryID" required> 
                              <option hidden>Please Select Country</option>     
                            </select> 
                          </div>
                          <div class="col-md-6"> 
                            <label for="flagUrl" class="form-label">Flag Url</label>
                            <input readonly name="flag" placeholder="Flag Url" type="text" class="form-control" id="editFlagUrl" required>
                          </div>
                      </div>
                        <div class="modal-options  row" >
                        <div class="col-md-6 position-relative">
                          <label for="validationTooltip03" class="form-label">Option A</label>
                          <input name="optionA" id="optionAID" type="text" class="form-control" required>
                          <div class="invalid-tooltip">
                            Please provide a Option.
                          </div>
                        </div> <div class="col-md-6 position-relative">
                          <label for="validationTooltip03" class="form-label">Option B</label>
                          <input name="optionB" id="optionBID" type="text" class="form-control" required>
                          <div class="invalid-tooltip">
                            Please provide a Option.
                          </div>
                        </div> <div class="col-md-6 position-relative" style="margin-top: 20px;">
                          <label for="validationTooltip03" class="form-label">Option C</label>
                          <input name="optionC" id="optionCID" type="text" class="form-control" required>
                          <div class="invalid-tooltip">
                            Please provide a Option.
                          </div>
                        </div> <div class="col-md-6 position-relative" style="margin-top: 20px;">
                          <label for="validationTooltip03" class="form-label">Option D</label>
                          <input name="optionD" id="optionDID" type="text" class="form-control" required>
                          <div class="invalid-tooltip">
                            Please provide a Option.
                          </div>
                        </div>
                        </div> 
                        <div class="col-md-12 position-relative" style="margin: 0px;">
                          <label for="validationTooltip03" class="form-label">Answer</label>
                          <input readonly name="correct" id="correctID" placeholder="Correct Answer" type="text" class="form-control" required> 
                          <div class="invalid-tooltip">
                            Please provide a Answer.
                          </div>
                        </div>
                        <div class="col-md-12 position-relative" style="margin: 0px;">
                          <label for="validationTooltip03" class="form-label">Hint</label>
                          <input name="hint" id="hintID" type="text" class="form-control">
                        </div> 
                      <div class="col-12 mt-2">
                        <button data-bs-toggle="tooltip"  class="btn" style="background-color: #a8171a;color: white;" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">Submit</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div> 
        <!-- Edit Question -->
        
</div> 
<!--Container Main end-->   

<script>
const region = `<%-data.region%>`; 
  fetch(`/admin/flag-data-api/country/${region}`)
      .then(response => response.json())
      .then((data) => {
          var _html = '';
          document.getElementById("newCountryID").innerHTML = `<option hidden>Please Select Country</option>`;
          data.forEach(element => {
            _html += `<option value="${element.country}">${element.country}</option>`;
          });     
          document.getElementById("newCountryID").innerHTML += _html; 
          document.getElementById("editCountryID").innerHTML = _html;
      })
      .catch(err => console.error('error:' + err)); 


  document.getElementById("newCountryID").addEventListener("change", async (event) => {   
    const response = await fetch(`/admin/flag-data-api/country-for-flag/${event.target.value}`);
    const data = await response.json();
    document.getElementById("newFlagUrl").value = data.flag;   
    document.getElementById("newCorrectID").value = event.target.value.charAt(0).toUpperCase() + event.target.value.slice(1); 
  });    


  async function editQuestion(Pid, item) { 
    item = JSON.parse(item);   
   
    document.getElementById("editCountryID").innerHTML += `<option selected value="${item.country}">${item.country}</option>`;
    document.getElementById("editFlagUrl").value = item.flag;
    document.getElementById("optionAID").value = item.optionA;
    document.getElementById("optionBID").value = item.optionB;
    document.getElementById("optionCID").value = item.optionC;
    document.getElementById("optionDID").value = item.optionD;
    document.getElementById("correctID").value = item.correct; 
    document.getElementById("hintID").value = item.hint; 
    document.getElementById("updateForm").action = `/admin/guess-country-game/manage/${item._id}/${Pid}?_method=PUT`;
}

  document.getElementById("editCountryID").addEventListener("change", async (event) => {   
    const response = await fetch(`/admin/flag-data-api/country-for-flag/${event.target.value}`);
    const data = await response.json();
    document.getElementById("editFlagUrl").value = data.flag;   
    document.getElementById("correctID").value = event.target.value.charAt(0).toUpperCase() + event.target.value.slice(1); 
  });  
</script>

<script src="/admin/js/allQuiz.js" ></script>
