<% layout('Admin/layouts/boilerPlate') -%>

    
     <!--Container Main start-->
     <div class="application bg-light">
      <span style="display: flex;">
        <h3 class="test-name" >
          <%=data.gameName.toUpperCase()%>
        </h3> 
      <form class="edit-test" action="/admin/draw-flag-game/manage/<%=data._id%>?_method=PUT" method="POST">
        <div style="display: flex;">
          <input class="add-quiz-image-input form-control" value="<%=data.gameName.toUpperCase()%>" name="gameName" id="formFile">
          <button class="edit-test-btn" type="submit" ><i class="fa-solid fa-check"></i></button>
        </div>
      </form>
      <i style="margin-left: 20px; margin-top: 5px;cursor: pointer;" class="test-edit fa-solid fa-pen"></i>
      </span> 
      <%- include ('../partials/SuccessError'); -%>
      <table class="table">
          <thead>
            <tr>
              <th class="table-hash-col" >#</th>
              <th class="table-question-col-flag">Flag Shape</th>
              <th class="table-option-col" >Country</th>
              <th class="table-option-col" >FlagUrl</th>
              <th class="table-option-col" >Correct Colors</th>
              <th class="table-option-col" >Arrangement</th> 
              <th class="table-action-col" class="table-buttons" >Actions</th>
            </tr>
          </thead>
          <tbody>
            <%var count = 1%>
            <% data.questions.forEach(item => { %> 
              <tr>
                <th scope="row"><%=count%></th>
                <td><img style="background-color: black; padding: 3px;" width="50px" height="40px" src="/upload-images/<%=item.shapeImg%>" /></td>
                <td><%=item.country%></td>
                <td><%=item.flagUrl%></td>
                <td><%=item.correctColors%></td>
                <td><%=item.arrangement%></td> 
                <td>
                  <span class="table-buttons">
                    <!-- <button onclick="editQuestion(`<%=data._id%>`, `<%=item._id%>`)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Edit</button> -->
                    <form action="/admin/draw-flag-game/manage/<%=data._id%>/<%=item._id%>?_method=DELETE" method="POST"> 
                      <button type="submit" class="btn btn-danger">Delete</button> 
                    </form>
                  </span>
                </td>
              </tr>
              <%++count%> 
            <%})%> 
          </tbody>
        </table>
        </table>

        <div>
         <button data-bs-toggle="modal" data-bs-target="#exampleModal1" type="button" class="btn btn-success">Add New Question</button>
        </div>

        <!-- Add New Question -->  
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">New Question</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="add-quiz-form row needs-validation" action="/admin/draw-flag-game/manage/<%=data._id%>/new" method="POST" novalidate>
                     <div id="setNewForm">
                        <div class="form-data">
                          <div class="row">
                              <div class="col-md-6 position-relative mt-3">
                                <select class="form-select" name="country" id="countryIDAdd" onchange="selectedCountry(this)" required> 
                                  <%allFlags?.forEach(item => {%>  
                                    <option hidden>Please Select Country</option>                     
                                    <option value="<%=item.country%>"><%=item.country%></option>  
                                  <%})%>
                                </select> 
                              </div>
                              <div class="col-md-6 position-relative mt-3">
                                <input readonly name="flagUrl" placeholder="Flag Url" type="text" class="form-control" id="flagUrlAdd" required>
                                <div class="invalid-tooltip">
                                  Please provide Flags Url.
                                </div>
                              </div>
                              <div class="col-md-6 position-relative mt-3">
                                  <input readonly name="flagDetails" placeholder="Flags Details" type="text" class="form-control" id="flagDetailsAdd" required>
                                  <div class="invalid-tooltip">
                                    Please provide Flags Details.
                                  </div>
                              </div>
                              <div class="col-md-6 position-relative mt-3">   
                                  <input readonly name="correctColors" placeholder="Selected Colors" type="text" class="form-control" id="correctColorsAdd" required>
                                  <div class="invalid-tooltip">
                                    Please provide Selected Colors.
                                  </div>
                              </div>
                              <div class="col-md-6 position-relative mt-3">
                                  <input readonly name="arrangement" placeholder="Selected Arrangement" type="text" class="form-control" id="arrangementAdd" required>
                                  <div class="invalid-tooltip">
                                    Please provide Arrangement.
                                  </div>
                              </div> 
                              <div class="col-md-6 position-relative mt-3">
                                <input readonly name="shapeImg" placeholder="Flag shape" type="text" class="form-control" id="shapeImgAdd" required>
                              </div>
                          </div>
                          </div>
                          </div>
                        <div class="col-12 mt-4">
                            <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button> 
                        </div>
                      </form>
                </div>
              </div>
            </div>
          </div>  
        <!-- Add New Question -->
 
        <!-- Edit Question --> 
        <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Edit Flag
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="updateDrawFlag" class="add-quiz-form row needs-validation" action="" method="POST" novalidate>
              <div id="setNewForm">
                 <div class="form-data">
                   <div class="row">
                       <div class="col-md-6 position-relative mt-3">
                         <select class="form-select" name="country" id="countryIDAddEdit" onchange="selectedCountry(this)" required> 
                           <%allFlags?.forEach(item => {%>  
                             <option hidden>Please Select Country</option>                     
                             <option value="<%=item.country%>"><%=item.country%></option>  
                           <%})%>
                         </select> 
                       </div>
                       <div class="col-md-6 position-relative mt-3">
                         <input readonly name="flagUrl" placeholder="Flag Url" type="text" class="form-control" id="flagUrlAddEdit" required>
                         <div class="invalid-tooltip">
                           Please provide Flags Url.
                         </div>
                       </div>
                       <div class="col-md-6 position-relative mt-3">
                           <input readonly name="flagDetails" placeholder="Flags Details" type="text" class="form-control" id="flagDetailsAddEdit" required>
                           <div class="invalid-tooltip">
                             Please provide Flags Details.
                           </div>
                       </div>
                       <div class="col-md-6 position-relative mt-3">   
                           <input readonly name="correctColors" placeholder="Selected Colors" type="text" class="form-control" id="correctColorsAddEdit" required>
                           <div class="invalid-tooltip">
                             Please provide Selected Colors.
                           </div>
                       </div>
                       <div class="col-md-6 position-relative mt-3">
                           <input readonly name="arrangement" placeholder="Selected Arrangement" type="text" class="form-control" id="arrangementAddEdit" required>
                           <div class="invalid-tooltip">
                             Please provide Arrangement.
                           </div>
                       </div> 
                       <div class="col-md-6 position-relative mt-3">
                         <input readonly name="shapeImg" placeholder="Flag shape" type="text" class="form-control" id="shapeImgAddEdit" required>
                       </div>
                   </div>
                   </div>
                   </div>
                 <div class="col-12 mt-4">
                     <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Update</button> 
                 </div>
               </form>
          </div>
        </div>
      </div>
    </div>
 
        <!-- Edit Question -->
        
</div> 
<!--Container Main end-->   

<script>

async function selectedCountry(element)
  {
    let id = element.getAttribute("id") 
    const countryName = document.getElementById(id).value;
    const response = await fetch(`/admin/draw-flag-game/game-management/draw-flags-games/countryName/${countryName}`);
    const data = await response.json(); 
   
    document.getElementById(`flagUrlAdd`).value = data.flagUrl;
    document.getElementById(`flagDetailsAdd`).value = data.flagDetails;
    document.getElementById(`correctColorsAdd`).value = data.correctColors;
    document.getElementById(`arrangementAdd`).value = data.arrangement;  
    document.getElementById(`shapeImgAdd`).value = data.shapeImg; 
  }


//   async function editQuestion(Pid, Cid) {   
//     const response = await fetch(`/game-management/manage-draw-flag-games/${Pid}/edit`);
//     const finalData = await response.json(); 
//     var data;
//     finalData.questions.forEach(element => {
//       if(element._id == Cid)
//       {
//         data = element;
//       }
//     }); 
   
//     document.getElementById(`flagUrlAddEdit`).value = data.flagUrl;
//     document.getElementById(`flagDetailsAddEdit`).value = data.flagDetails;
//     document.getElementById(`correctColorsAddEdit`).value = data.correctColors;
//     document.getElementById(`arrangementAddEdit`).value = data.arrangement;  
//     document.getElementById(`shapeImgAddEdit`).value = data.shapeImg; 
//     document.getElementById("updateDrawFlag").action = `/game-management/manage-draw-flag-games/${data._id}/${Pid}?_method=PUT`;
// }
</script>

<script src="/admin/js/allQuiz.js" ></script> 
