<% layout('Client/layouts/boilerPlate') -%>

  <link rel="stylesheet" href="/client/css/card.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css" />



  <!-- main-area -->
  <main>
    <!-- search-popup -->
    <div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content search-popup">
          <div class="text-center">
            <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
          </div>
          <div class="row search-outer">
            <div class="col-md-11">
              <input type="text" placeholder="Search for products..." />
            </div>
            <div class="col-md-1 text-right">
              <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /search-popup -->
    <!-- slider-area -->
    <section id="home" class="slider-area slider-four fix p-relative">
      <div class="slider-active">
        <div class="single-slider slider-bg d-flex align-items-center" style="
            background: url(https://testpod-bucket.s3.amazonaws.com/pages/slider_img_bg.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          ">
          <div class="container">
            <div class="row justify-content-center spacing pb-50">
              <div class="col-lg-6">
                <div class="slider-content s-slider-content mt-100 wow animate__fadeInLeft" data-wow-delay="0.2s">
                  <h2>
                    Capture the knowledge!
                  </h2>
                  <p>
                    Educational games make learning fun and engaging by capturing knowledge interactively. Examples
                    include Flags Games, Driving Test, Educations Test, and Geography game. These games challenge
                    players to think critically, problem-solve, and retain information effectively.
                    <!-- <div class="subricbe" data-animation="fadeInDown" data-delay=".4s">
                    <form action="" method="" class="contact-form">
                      <label><i class="icon fa-regular fa-envelope"></i> Email
                        Address</label>
                      <input type="text" id="" name="" class="header-input"
                        placeholder="Your Email Address..." required />
                      <button class="btn header-btn">Subscribe Now</button>
                    </form>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-6 wow animate__fadeInRight" data-wow-delay="0.2s">
                <div class="slider-img" data-animation="fadeInUp" data-delay=".4s">
                  <img src="https://testpod-bucket.s3.amazonaws.com/pages/heroImage.svg" alt="slider_img05" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- slider-area-end -->

    <!-- <div class="game-slider" > -->
    <div class="game-slider-start spacing">
      <div class="game-slider-container">
        <swiper-container class="mySwiper" style="border-radius: 10px;" pagination="false" slides-per-view="1" autoplay
          free-mode="true">
          <% gamesliderData.forEach(item=> {%>
            <swiper-slide>
              <div class="game-slider-inner-container">
                <div class="game-image-slider">
                  <div>
                    <h2>
                      <%=item?.name %>
                    </h2>
                    <h5>
                      <%=item?.detail %>
                    </h5>
                    <div style="margin-right: 20px;">
                      <a href="/game-slider/index/<%=item?.path %>"><button class="home-start">Start</button></a>
                    </div>
                  </div>
                </div>
                <div class="images-slider">
                  <img class="game-slider-image" src=<%=item?.image%> />
                </div>
              </div>
            </swiper-slide>
            <% }) %>
        </swiper-container>
      </div>
    </div>



    <!-- Game Slider End -->

    <!-- about-area -->
    <section id="about" class="about-area about-p spacing p-relative" style="
        background: url(https://testpod-bucket.s3.amazonaws.com/pages/about-bg-aliments.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      ">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 col-sm-12 pr-30 home-text-animation-left">
            <div class="s-about-img p-relative wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
              <img src="https://testpod-bucket.s3.amazonaws.com/pages/about_img.svg" alt="img" />
              <div class="about-text second-about">
                <div class="all-text">
                  <h5>Lorem ipsum</h5>
                  <span class="about-experience"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 home-text-animation-right">
            <div class="about-content s-about-content wow fadeInRight animated" data-animation="fadeInRight"
              data-delay=".4s">
              <div class="about-title second-atitle pb-25">
                <h5>About</h5>
                <h2>Welcome To Testpod.</h2>
              </div>

              <p>
                We are dedicated to providing engaging and educational content for individuals looking to improve their
                knowledge and skills. Our goal is to offer a fun and interactive learning experience through our DMV
                practice tests and flag game.
              </p>

              <div class="about-content3">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="green">
                      <li>
                        DMV Practice Tests: Our DMV practice tests are designed to help users prepare for their driver's
                        license exams. We offer a wide range of practice tests covering various topics such as traffic
                        signs, road rules, and safety regulations.</li>
                      <li>
                        Flag Game: Our flag game is a fun and interactive way for users to test their knowledge of world
                        flags. Users can challenge themselves and learn about different countries and their flags
                        through an engaging quiz-style game.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="slider-btn mt-10">
                <a href="/about-us" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- about-area-end -->
    <!-- vedio-area -->
    <section id="vedio" class="vedio-area spacing pt-90 fix realisatiehome" style="background-image: url(https://testpod-bucket.s3.amazonaws.com/pages/vedio-bg.png);
        background-repeat: no-repeat;
      ">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title center-align text-center">
              <!-- <h5>Test Your Knowledge</h5> -->
              <h2>Test Your DMV Exams Knowledge</h2>
            </div>
          </div>
        </div>
        <!-- <div class="video-align"> -->
        <div class="quiz-box animate__animated wow animate__fadeInUp" data-wow-delay="0.5s">
          <div class="quiz-section">
            <div class="left-part">
              <img class="images" src="https://testpod-bucket.s3.amazonaws.com/pages/warningsign.svg" />
            </div>
            <div class="right-part">
              <div class="que-text">
              </div>

              <div class="option-list">
                </input>
              </div>
              <button id="hint-icon">
                <img src="https://testpod-bucket.s3.amazonaws.com/pages/hint.svg" /> Hint
              </button>
            </div>
          </div>
          <!-- quiz box footer -->
          <footer>
            <div class="total-que">
              <span>
                <p>2</p>
                of
                <p>5</p>
                Questions
              </span>
            </div>
            <button class="next-btn">Next Question</button>
            <button onclick="location='/dmv-test/states'" class="more_test d-none">More Tests</button>
          </footer>
        </div>
        <div class="slider-btn mt-10" style="display: flex;justify-content: center;margin-top: 50px;">
          <a href="/dmv-test/states" class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s">Explore More Test
            State</a>
        </div>
      </div>
    </section>
    <!-- vedio-area-end -->

    <!-- services-area -->
    <section id="services" class="services-area fix" style="
        background-image: url(https://testpod-bucket.s3.amazonaws.com/pages/services-bg-aliments.png);
        background-repeat: no-repeat;
        background-position: center;
      ">
      <div class="container spacing">
        <div class="row">
          <div class="col-lg-4 col-md-12 home-text-animation-left">
            <div class="about-title second-atitle pb-20">
              <h5>DMV Practice Test</h5>
              <h2>Take “Fail” <br> Out of Your Vocabulary</h2>
              <p>
                we strive to assist our users in successfully passing their DMV written test on their first try. With
                this goal in mind, we have designed comprehensive practice driver's tests that closely resemble the
                actual exam in all 50 states. Whether you're pursuing any type of driver's license, we provide you with
                the necessary tools to prepare and excel. </p>
            </div>

            <div class="slider-btn mt-10">
              <a href="/dmv-test/new-jersey/practice-test-2" class="btn ss-btn" data-animation="fadeInRight"
                data-delay=".8s">Free Practice Test</a>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 mt-10">
            <div class="grid">
              <% let count=0 %>
                <% data.forEach((item)=>{count > 2 ? count=1 : count++%>
                  <div class="card wow animate__fadeInLeft" data-wow-delay="<%=count*.2%>s">
                    <div class="services-icon-home">
                      <img src=<%=item?.icon %> />
                    </div>
                    <h5>
                      <%=item?.name %>
                    </h5>
                    <p>
                      <%=item?.detail %>
                    </p>
                    <div class="shine"></div>
                    <div class="background">
                      <div class="tiles">
                        <div class="tile tile-1"></div>
                        <div class="tile tile-2"></div>
                        <div class="tile tile-3"></div>
                        <div class="tile tile-4"></div>

                        <div class="tile tile-5"></div>
                        <div class="tile tile-6"></div>
                        <div class="tile tile-7"></div>
                        <div class="tile tile-8"></div>

                        <div class="tile tile-9"></div>
                        <div class="tile tile-10"></div>
                      </div>

                      <div class="line line-1"></div>
                      <div class="line line-2"></div>
                      <div class="line line-3"></div>
                    </div>
                  </div>
                  <% }) %>
                    <!-- <div class="card">
                    <span class="icon">
                      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.2"
                        stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M4.5 9.5V5.5C4.5 4.94772 4.94772 4.5 5.5 4.5H9.5C10.0523 4.5 10.5 4.94772 10.5 5.5V9.5C10.5 10.0523 10.0523 10.5 9.5 10.5H5.5C4.94772 10.5 4.5 10.0523 4.5 9.5Z" />
                        <path
                          d="M13.5 18.5V14.5C13.5 13.9477 13.9477 13.5 14.5 13.5H18.5C19.0523 13.5 19.5 13.9477 19.5 14.5V18.5C19.5 19.0523 19.0523 19.5 18.5 19.5H14.5C13.9477 19.5 13.5 19.0523 13.5 18.5Z" />
                        <path d="M4.5 19.5L7.5 13.5L10.5 19.5H4.5Z" />
                        <path
                          d="M16.5 4.5C18.1569 4.5 19.5 5.84315 19.5 7.5C19.5 9.15685 18.1569 10.5 16.5 10.5C14.8431 10.5 13.5 9.15685 13.5 7.5C13.5 5.84315 14.8431 4.5 16.5 4.5Z" />
                      </svg>
                    </span>
                    <h5>Categories</h5>
                    <p>
                      Standard chunk of Lorem Ipsum used since the 1500s is showed below
                      for those interested.
                    </p>
                    <div class="shine"></div>
                    <div class="background">
                      <div class="tiles">
                        <div class="tile tile-1"></div>
                        <div class="tile tile-2"></div>
                        <div class="tile tile-3"></div>
                        <div class="tile tile-4"></div>

                        <div class="tile tile-5"></div>
                        <div class="tile tile-6"></div>
                        <div class="tile tile-7"></div>
                        <div class="tile tile-8"></div>

                        <div class="tile tile-9"></div>
                        <div class="tile tile-10"></div>
                      </div>

                      <div class="line line-1"></div>
                      <div class="line line-2"></div>
                      <div class="line line-3"></div>
                    </div>
                  </div> -->
            </div>
            <!-- <div class="row">
              <div class="col-lg-4 col-md-6 mb-20 wow animate__fadeInLeft" data-wow-delay=".2s" >
                <div class="services-box">
                  <div class="services-icon">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pages/pv-icon1.png" alt="icon01" />
                  </div>
                  <div class="services-content2">
                    <h5>
                      <a>You’ll Pass</a>
                    </h5>
                    <p>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-20 wow animate__fadeInLeft" data-wow-delay=".4s">
                <div class="services-box ">
                  <div class="services-icon">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pages/pv-icon2.png" alt="icon01" />
                  </div>
                  <div class="services-content2">
                    <h5>
                      <a>We Cover It All</a>
                    </h5>
                    <p>
                      Our tests use real DMV questions for all licenses, so you can avoid surprises on exam day.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-20 wow animate__fadeInLeft" data-wow-delay=".6s">
                <div class="services-box">
                  <div class="services-icon">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pages/pv-icon3.png" alt="icon01" />
                  </div>
                  <div class="services-content2">
                    <h5><a>Fast & Easy</a></h5>
                    <p>
                      Get immediate feedback as you begin a test, with the ability to start within seconds.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-20 wow animate__fadeInLeft" data-wow-delay=".2s">
                <div class="services-box">
                  <div class="services-icon">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pages/pv-icon4.png" alt="icon01" />
                  </div>
                  <div class="services-content2">
                    <h5><a>Always FREE</a></h5>
                    <p>
                      Absolutely free with no strings attached, including no hidden fees or subscriptions.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-20 wow animate__fadeInLeft" data-wow-delay=".4s">
                <div class="services-box">
                  <div class="services-icon">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pages/pv-icon5.png" alt="icon01" />
                  </div>
                  <div class="services-content2">
                    <h5><a>State-specific</a></h5>
                    <p>
                      Our test questions are tailored to individual U.S. states, with the majority being unique to each
                      state.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-20 wow animate__fadeInLeft" data-wow-delay=".6s">
                <div class="services-box">
                  <div class="services-icon">
                    <img src="https://testpod-bucket.s3.amazonaws.com/pages/pv-icon6.png" alt="icon01" />
                  </div>
                  <div class="services-content2">
                    <h5><a>Vast Question Bank</a></h5>
                    <p>
                      Prepare using accurate, up-to-date questions based on your state's official handbook and traffic
                      laws.
                    </p>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <section class="best-game-slider spacing">
      <div class="col-lg-12 wow animate__fadeInUp" data-wow-delay="0.4s">
        <div class="section-title">
          <h5>GAMIFICATION</h5>
          <h2>Learn while having fun</h2>
        </div>
      </div>
      <swiper-container class="mYSwiper" pagination="false" slides-per-view="3.3" space-between="30" free-mode="true"
        autoplay>
        <swiper-slide>
          <div class="box-courses">
            <a href="/game-slider/index/guessCountry"><img src="https://testpod-bucket.s3.amazonaws.com/pages/03.jpg"
                alt="courses-img1" /></a>
            <div class="text">
              <h5></h5>
              <h3><a href="javascript:(0)">Guess Country</a></h3>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="box-courses">
            <a href="/game-slider/index/drawFlag"><img src="https://testpod-bucket.s3.amazonaws.com/pages/04.jpg"
                alt="courses-img1" /></a>
            <div class="text">
              <h5></h5>
              <h3><a href="javascript:(0)">Draw Flags</a></h3>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="box-courses">
            <a href="/game-slider/index/guessFlag"><img src="https://testpod-bucket.s3.amazonaws.com/pages/05.jpg"
                alt="courses-img1" /></a>
            <div class="text">
              <h5></h5>
              <h3><a href="javascript:(0)">Guess Flags</a></h3>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="box-courses">
            <a href="/game-slider/index/flagPuzzle"><img src="https://testpod-bucket.s3.amazonaws.com/pages/06.png"
                alt="courses-img1" /></a>
            <div class="text">
              <h5></h5>
              <h3><a href="javascript:(0)">Flags Puzzle</a></h3>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="box-courses">
            <a href="/game-slider/index/learnAboutFlag"><img src="https://testpod-bucket.s3.amazonaws.com/pages/03.jpg"
                alt="courses-img1" /></a>
            <div class="text">
              <h5></h5>
              <h3><a href="javascript:(0)">Learn About Flags</a></h3>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="box-courses">
            <a href="/game-slider/index/test"><img src="https://testpod-bucket.s3.amazonaws.com/pages/02.jpg"
                alt="courses-img1" /></a>
            <div class="text">
              <h5></h5>
              <h3><a href="javascript:(0)">Parking Section</a></h3>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="box-courses">
            <a href="/game-slider/index/test"><img src="https://testpod-bucket.s3.amazonaws.com/pages/01.jpg"
                alt="courses-img1" /></a>
            <div class="text">
              <h5></h5>
              <h3><a href="javascript:(0)">DMV Practice Test</a></h3>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </section>

    <!-- testimonial-area -->
    <section class="testimonial-area spacing pt-20" style="
        background-image: url(https://testpod-bucket.s3.amazonaws.com/pages/test-bg-aliments.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff7f5;
      ">
      <div class="about-title second-atitle">
        <h5 style="margin: 0px;text-align: center;">Testimonial</h5>
        <h2 style="text-align: center;margin: 0px;">What our users are saying</h2>
      </div>
      <div class="flex-box-wrap">
        <aside class="single-view-content">
          <ul class="team-info">
            <li class="team-info-item active">
              <h1 class="heading">Hi, my name is Ted Kay </h1>
              <article class="content">
                <p>
                  This site is amazing. With just 24 hours of practice and going
                  through each test, I passed the drivers test at Santa Monica,
                  California DMV on my first attempt, outperforming others.

                </p>
              </article>

            </li>

            <li class="team-info-item">
              <h1 class="heading">Hi, my name is Stacey Finegan</h1>
              <article class="content">
                <p>
                  I failed the DMV written test the first time I tried, but after studying the tests on this AWESOME
                  site, I passed it with only 3 questions wrong, on my 22nd birthday. This tool ROCKED. Thanks so
                  much!

                </p>


              </article>
            </li>

            <li class="team-info-item">
              <h1 class="heading">Hi, my name is Elizabeth Heaney</h1>
              <article class="content">
                <p>
                  I took the test today and passed, I literally knew every single question on that test, I looked
                  around thinking to myself, Are they serious?! lol, If you want to pass, these practice tests will
                  help for sure!

                </p>
              </article>
            </li>
          </ul>
        </aside>
        <main class="main-single-view">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/client/img/pngs/1.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="/client/img/pngs/3.png" alt="">
              </div>
              <div class="swiper-slide">
                <img src="/client/img/pngs/4.png" alt="">
              </div>
              <!-- <div class="swiper-slide">
                <img src="https://md-aqil.github.io/images/adult-armchair-attractive-235498-removebg-preview.png"
                  alt="">
              </div>
              <div class="swiper-slide">
                <img src="https://md-aqil.github.io/images/beautiful-dress-elegant-1375736-removebg-preview.png" alt="">
              </div> -->

              <!-- Add Pagination -->

            </div>
          </div>

        </main>

      </div>
      </div>
      <!-- <div class="container">
        <div class="row">
          <div class="col-lg-6 wow animate__fadeInLeft" data-wow-delay="0.2s">
            <div class="about-title second-atitle pt-15">
              <h5>Testimonial</h5>
              <h2>What our users are saying</h2>
              <p class="pt-15">
                <b>dev.testpod.com</b> A popular platform empowering 130,000+ aspiring
                American users to enhance coding, data analysis, and digital
                marketing skills with its user-friendly interface and personalized
                feedback.
              </p>
            </div>
          </div>

          <div class="col-lg-6" style="margin: auto;">
            <swiper-container autoplay class="mySwiper" pagination="false" effect="cube" grab-cursor="true"
              centered-slides="true" slides-per-view="1" coverflow-effect-rotate="100" coverflow-effect-stretch="0"
              coverflow-effect-depth="100" coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
              <swiper-slide>
                <div class="testimonial-active ">
                  <div class="single-testimonial">
                    <div class="testi-author">
                      <img style="width: 100px;border-radius: 50%;"
                        src="https://testpod-bucket.s3.amazonaws.com/pages/DALL%C3%82%C2%B7E+2023-03-07+16.19.23+-+create+avatar+cute+girl+.png"
                        alt="img" />
                      <div class="ta-info">
                        <h6>Ted Kay</h6>
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="qt-img">
                      <img src="https://testpod-bucket.s3.amazonaws.com/pages/qt-icon.png" alt="img" />
                    </div>
                    <p>
                      This site is amazing. With just 24 hours of practice and going
                      through each test, I passed the drivers test at Santa Monica,
                      California DMV on my first attempt, outperforming others.
                  </div>
                </div>

              </swiper-slide>
              <swiper-slide>
                <div class="testimonial-active">
                  <div class="single-testimonial ">
                    <div class="testi-author">
                      <img style="width: 100px;border-radius: 50%;"
                        src="https://testpod-bucket.s3.amazonaws.com/pages/DALL%C3%82%C2%B7E+2023-03-07+16.59.30+-+create+avatar+cute+girl+.png"
                        alt="img" />
                      <div class="ta-info">
                        <h6>Stacey Finegan Whittle</h6>
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="qt-img">
                      <img src="https://testpod-bucket.s3.amazonaws.com/pages/qt-icon.png" alt="img" />
                    </div>
                    <p>
                      I failed the DMV written test the first time I tried, but after studying the tests on this AWESOME
                      site, I passed it with only 3 questions wrong, on my 22nd birthday. This tool ROCKED. Thanks so
                      much!
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="testimonial-active">

                  <div class="single-testimonial">
                    <div class="testi-author">
                      <img style="width: 100px;border-radius: 50%;"
                        src="https://testpod-bucket.s3.amazonaws.com/pages/DALL%C3%82%C2%B7E+2023-03-07+16.19.23+-+create+avatar+cute+girl+.png"
                        alt="img" />
                      <div class="ta-info">
                        <h6>Elizabeth Heaney</h6>
                        <span>Student</span>
                      </div>
                    </div>
                    <div class="qt-img">
                      <img src="https://testpod-bucket.s3.amazonaws.com/pages/qt-icon.png" alt="img" />
                    </div>
                    <p>
                      I took the test today and passed, I literally knew every single question on that test, I looked
                      around thinking to myself, Are they serious?! lol, If you want to pass, these practice tests will
                      help for sure!
                  </div>
                </div>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div> -->
    </section>
    <!-- testimonial-area-end -->

    <!-- blog-area -->
    <!-- <section id="blog" class="blog-area p-relative spacing fix" style="
        background-image: url(https://testpod-bucket.s3.amazonaws.com/pages/blog-bg-aliments.png);
        background-repeat: no-repeat;
        background-position: center;
      ">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="col-lg-12">
              <div class="section-title center-align text-center mb-50">
                <h5>Blogs</h5>
                <h2>Latest Blogs
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <div class="single-post2 mb-30 wow fadeInDown animated">
              <div class="blog-thumb2">
                <a href="#"><img src="https://testpod-bucket.s3.amazonaws.com/pages/003.svg" alt="img" /></a>
              </div>
              <div class="blog-content2 text-center">
                <div class="b-meta">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="date-b">
                        <i class="fal fa-calendar-alt"></i> 7 March, 2023
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <h4>
                      <a href="#">Test Your Geography Knowledge With This Fun Quiz</a>
                    </h4>
                    <div class="blog-btn">
                      <a href="#"><i class="fal fa-chevron-circle-right"></i> Read
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="single-post2 mb-30 wow fadeInUp animated">
              <div class="blog-thumb2">
                <a href="#"><img src="https://testpod-bucket.s3.amazonaws.com/pages/002.svg" alt="img" /></a>
              </div>
              <div class="blog-content2 text-center">
                <div class="b-meta">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="date-b">
                        <i class="fal fa-calendar-alt"></i> 7 March, 2023
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <h4>
                      <a href="#">Test Your Preparations With Flag Game</a>
                    </h4>
                    <div class="blog-btn">
                      <a href="#"><i class="fal fa-chevron-circle-right"></i> Read
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="single-post2 mb-30 wow fadeInDown animated">
              <div class="blog-thumb2">
                <a href="#"><img src="https://testpod-bucket.s3.amazonaws.com/pages/001.svg" alt="img" /></a>
              </div>
              <div class="blog-content2 text-center">
                <div class="b-meta">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <div class="date-b">
                        <i class="fal fa-calendar-alt"></i> 7 March, 2023
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <h4>
                      <a href="#">Test Your Driving Knowledge With This Fun Game</a>
                    </h4>
                    <div class="blog-btn">
                      <a href="#"><i class="fal fa-chevron-circle-right"></i> Read
                        More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- blog-area-end -->
  </main>
  <!-- main-area-end -->


  <script>
    async function storeLog(id) {
      console.log(id);
      const counter = 1;
      const response = await fetch(`/track-game/${id}`, {
        method: 'POST',
        body: JSON.stringify({
          views: counter
        }),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        }
      });

      console.log(response);
    }
  </script>

  <script src="/client/js/questions.js"></script>
  <script src="/client/js/quiz.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script>

    var colors = [
      "--dark-green",
      "--light-brown",
      "--light-red",
      "--light-teal",
      "--light-gray"
    ];

   let window_Width=  window.innerWidth
    var swiperZoom = new Swiper(".swiper-container", {
      grabCursor: true,
      centeredSlides: true,
      
      slidesPerView: window_Width >= 700 ? "2" : "1",
      autoplay: {
        delay: 2000,
      },

      effect: "coverflow",
      keyboard: true,

      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 100,
        modifier: 4,
        slideShadows: false
      }
    });

    swiperZoom.on("slideChange", function () {
      var index = this.activeIndex;
      document.querySelector(".single-view-content").style.background = "var(" + colors[index % colors.length] + ")";

      var teamInfoItems = document.querySelectorAll(".team-info .team-info-item");
      var activeIndex = this.activeIndex;

      teamInfoItems.forEach(function (item, index) {
        item.classList.remove("active");

        if (index === activeIndex) {
          item.classList.add("active");
        }
      });
    });
  </script>