<% layout('Client/layouts/boilerPlate') -%>

<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb-area d-flex align-items-center"
    style="background-image: url(/client/img/testimonial/test-bg.png)"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-left">
            <div class="breadcrumb-title">
              <h2>Guess Country Name</h2>
              <div class="breadcrumb-wrap">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/guess-country">Guess Countries</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Can You Match Flag With Its Country?
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="all-quiz">
    <div class="all-quiz-upper-section">
      <div class="all-quiz-upper-section-header">
        <h6><%=data.region%> Flags Examination</h6>
        <h6>Test #1</h6>
      </div>
      <div class="all-quiz-upper-section-inner">
        <div class="all-quiz-upper-section-part-left">
          <h4><%=data.region%></h4>
          <p class="guess-country-flags-details">
            <%=data.level%>
          </p>
        </div>
      </div>
    </div>

    <div id="hello" class="all-quizzes">
      <div  class="all-quiz-left-part">
        <div class="questions-box">
          <div class="align-items-center">
            <div class="quiz-image">
              <div class="que_text"></div>
            </div>
            <input class="focus-input" style="width: 0.1px;height: 0.1px;"/>

            <div style="margin-top: 10px">
              <div class="option_list"></div>
            </div>
            <div style="width: 100%">
              <div
                class="time_line"
                style="
                  background: #eb2d00;
                  height: 7px;
                  border-radius: 50px;
                  transition: all 0.2s;
                "
              ></div>
            </div>
          </div>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-6 text-center">
              <button
                class="btn btn ss-btn next_btn d-none"
                style="width: 200px"
              >
                Next Question ➜
              </button>

              <button
              class="btn btn-danger result_btn d-none"
              style="width: 200px; margin-top: 10px"
              >
                Show Result
              </button>
            </div>
          </div>
        </div>
        <div class="result_box d-none">
          <canvas
            id="myChart"
            style="
              width: 100%;
              display: block;
              border: 2px solid #ccc;
              border-radius: 5px;
              box-shadow: 2px 2px 5px #ccc;
              padding: 15px;
            "
          ></canvas>
          <div style="display: flex;justify-content: space-between;margin-top: 20px;">
            <a href="/guess-country/flag_game/<%=data._id%>" target="_self" ><button class="btn ss-btn"><i class="fa-solid fa-rotate-right" style="margin-right: 10px;"></i>ReTake</button></a>
            <button class="btn ss-btn" >Next Level</button>
          </div>
        </div>
      </div>
      <div class="all-quiz-right-part">
        <div class="all-quiz-progress">
          <div class="progress-timer">
            <span
              class="total_que"
              style="font-size: 30px; font-weight: bold"
            ></span>
            <span
              class="time_up d-none"
              style="font-size: 30px; font-weight: bold;color:#A8171A"
            >Completed</span>
            <h2
              id="testDuration"
              style="font-size: 30px; font-weight: bold; color: #A8171A"
            >
              --
            </h2>
          </div>
          <div class="all-quiz-upper-section-part-right">
            <div class="all-quiz-upper-section-scorus-card">
              <p>Question</p> 
              <h5 _id="<%=data._id%>" id="total-questions"></h5>
            </div>
            <div class="all-quiz-upper-section-scorus-card">
              <p>Correct</p>
              <h5 id="total-correct">--</h5>
            </div>
            <div class="all-quiz-upper-section-scorus-card">
              <p>In-Correct</p>
              <h5 id="total-in-correct">--</h5>
            </div>
          </div>
          <h5 style="margin-top: 20px;margin-bottom: -3%;">Hint</h5>
          <div class="your-progress">
        </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script src="/client/js/select-country.js"></script>
<script src="/client/js/about.js"></script>

