<% layout('Client/layouts/boilerPlate') -%>

<main>
  <!-- breadcrumb-area -->
  <section
    class="breadcrumb-area d-flex align-items-center"
    style="background-image: url(https://testpod-bucket.s3.amazonaws.com/pages/test-bg.png)"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12 col-lg-12">
          <div class="breadcrumb-wrap text-left">
            <div class="breadcrumb-title wow animate__fadeInDown" data-wow-duration=".9s">
              <h2>MVC Practice Tests</h2>
              <div class="breadcrumb-wrap">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      <a href="/dmv-test/states">States</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      <%=data[0]?.stateName%>
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </section>
</main>

<section
  id="about"
  class="about-area about-p pt-120 pb-120 p-relative"
  style="
    background: url(https://testpod-bucket.s3.amazonaws.com/pages/about-bg-aliments.png) no-repeat;
    background-position: center center;
  ">
  <div class="quiz-citys">
    <h2 class="font-weight-bold mb-2"><%=data[0]?.stateName.toUpperCase()%></h2>
    <p class="font-italic text-muted mb-4 text-center">
      
    </p>
    <div class="row quiz-card">
      <% let count = 0 %>
      <%data.forEach((value) => { count > 3 ? count=1 : count++%> 
          <a onclick="storeLog('<%=value._id%>')" href="/dmv-test/<%=value.stateName%>/<%=value.quizName.toLowerCase().replace(/ /g,'-')%>" class="card quiz-card-item col-md-3 wow animate__fadeInLeft" data-wow-delay="<%=count*.2%>s" style="width: 17rem; padding: 0%">
            <img src="https://testpod-bucket.s3.amazonaws.com/pages/optional-image.jpg" class="card-img-top card-img" alt="..." />
            <div class="card-body">
              <h5 class="card-title quiz-card-title" style="text-align: start;padding: 0px;"><%=value.quizName%></h5>
              <!-- <p class="card-text">
                <%=value.quizDetail%>
              </p> -->
              <div class="card-question-number">
                  <p class="card-total-scorce"><%=value.questions.length%></p> 
                  <p class="card-question" >questions</p>
                <div>
                </div>
              </div>
            </div>
          </a> 
      <%})%>
    </div>
  </div>

   
  <div class="pagination-div" style="display: flex;justify-content: center;margin-top: 50px;">
    <div class="pagination">
      <ul> <!--pages or li are comes from javascript --> </ul>
    </div>
  </div>  
      
    </section> 
    
    
    
    
    <script>

      var data = <%-JSON.stringify(data)%>; 
      var page = '<%=page%>'; 
      var totalPages = '<%=pages%>'; 

      async function storeLog(id) {
          const counter = 1;
          const response = await fetch(`/track-quiz/${id}`, {
            method: 'POST',
            body: JSON.stringify({
              views:counter
            }),
            headers: {
              'Content-type': 'application/json; charset=UTF-8',
            }
          }); 
          console.log(response);
        }
    </script>
    
    <script src="/client/js/about.js"></script>
    <script src="/client/js/pagination.js" ></script>
    