<% layout('Admin/layouts/boilerPlate') -%>

<!--Container Main start-->
<div class="application bg-light">
  <span style="display: flex;">
    <h3 class="test-name" >
      <%=data.region.toUpperCase()%>
    </h3> 

    <% if(data.level == 0) {%>
      <h6 class="test-name">Easy</h6>
    <% }else if(data.level == 1){ %>
      <h6 class="test-name">Normal</h6>
    <% }else if(data.level == 2){ %>
      <h6 class="test-name">Hard</h6>
    <% }else if(data.level == 3){ %>
      <h6 class="test-name">Extreme</h6>
    <% } %>
    
  </span> 
  <%- include ('../partials/SuccessError'); -%>
  <div style="overflow-x:auto;">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th class="table-hash-col">#</th>
          <th style="width: 20%">Country</th> 
          <th style="width: 62%;" >Correct Img</th>
          <th class="table-buttons">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%var count = 1%>
        <% data.questions.forEach(item => { %> 
          <tr>
            <th scope="row"><%=count%></th>
            <td><%=item.country.toUpperCase()%></td> 
            <td><img class="border" width="50" src="<%=item.flag%>" alt="..img"></td>
            <td>
              <span class="table-buttons">
                <button onclick="editFlagPuzzleGameQuestion(`<%=data._id%>`, `<%=JSON.stringify(item)%>`)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">Edit</button>
                <form action="/admin/flag-puzzle-game/manage/<%=data._id%>/<%=item._id%>?_method=Delete" method="POST"> 
                  <button type="submit" class="btn btn-danger">Delete</button> 
                </form>
              </span>
            </td>
          </tr>
        <%count++%>
        <%})%> 
      </tbody>
    </table>
    </div>

    <div>
      <button
        data-bs-toggle="modal"
        data-bs-target="#exampleModal1"
        type="button"
        class="btn btn-success mt-3"
      >
        Add New Flags
      </button>
    </div>

    <!-- Add New Game -->
    <div
      class="modal fade"
      id="exampleModal1"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Add New Question
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form class="add-quiz-form row needs-validation" action="/admin/flag-puzzle-game/manage/<%=data._id%>/new" method="POST" novalidate>
                 <div id="setNewForm">
                    <div class="form-data">
                        <div class="row">
                            <div class="col-md-12 position-relative">
                                <label for="validationTooltip03" class="form-label">Select Country</label>
                                <select class="form-select" name="country" id="newFlagPuzzleCountry" onchange="newSelectedCountryForPuzzle(this)" required> 
                                  <option hidden>Please Select Counrty</option>  
                                </select> 
                                <div class="invalid-tooltip">
                                    Please provide a Country Name.
                                </div>
                            </div> 
                            <div class="col-md-12 position-relative mt-3">
                                <label for="validationTooltip03" class="form-label">Flag</label>
                                <div class="add-quiz-state-image">
                                    <input readonly class="add-quiz-image formFile form-control" placeholder="Flag Url" id="newFlagUrl" type="text" name="flag" required>
                                </div>
                            </div> 
                        </div>
                      </div>
                      </div>
                    <div class="col-12 mt-4">
                        <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button>
                    </div>
                  </form>
            
          </div>
        </div>
      </div>
    </div>
    <!-- Add New Quiz -->

    <!-- Edit Quiz -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Edit Question
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="puzzleFlagEditForm" class="add-quiz-form row needs-validation" action="" method="POST" novalidate>
              <div id="setNewForm">
                 <div class="form-data">
                    <div class="row">
                        <div class="col-md-12 position-relative">
                            <label for="validationTooltip03" class="form-label">Select Country</label>
                            <select class="form-select" name="country" id="editFlagPuzzleCountry" onchange="editSelectedCountryForPuzzle(this)" required> 
                              <option hidden>Please Select Counrty</option>  
                            </select> 
                            <div class="invalid-tooltip">
                                Please provide a Country Name.
                            </div>
                        </div> 
                        <div class="col-md-12 position-relative mt-3">
                            <label for="validationTooltip03" class="form-label">Flag</label>
                            <div class="add-quiz-state-image">
                                <input readonly class="add-quiz-image formFile form-control" id="editFlagPuzzleFlag" type="text" name="flag" required>
                            </div>
                        </div> 
                    </div>
                   </div>
                   </div>
                 <div class="col-12 mt-4">
                     <button class="btn" style="background-color: #a8171a;color: white;" type="submit">Submit</button>
                 </div>
               </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Quiz -->
  </div>
  <!--Container Main end-->

<script>    
    
  const continent = `<%-data.region%>`; 
  fetch(`/admin/flag-data-api/country/${continent}`)
      .then(response => response.json())
      .then((data) => {  
          var _html = '';
          document.getElementById("newFlagPuzzleCountry").innerHTML = `<option hidden>Please Select Country</option>`;
          data.forEach(element => {
            _html += `<option value="${element.country}">${element.country}</option>`;
          });     
          document.getElementById("newFlagPuzzleCountry").innerHTML += _html; 
          document.getElementById("editFlagPuzzleCountry").innerHTML = _html;
      })
      .catch(err => console.error('error:' + err));
  

async function newSelectedCountryForPuzzle(e)
    { 
      const id = e.getAttribute("id"); 
      const countryName = document.getElementById(id).value;  
      const response = await fetch(`/admin/flag-data-api/country-for-flag/${countryName}`);
      const data = await response.json();
      document.getElementById("newFlagUrl").value = data.flag;
    }    


async function editSelectedCountryForPuzzle(e)
    {
      const id = e.getAttribute("id")
      const countryName = document.getElementById(id).value; 

      const response = await fetch(`/admin/flag-data-api/country-for-flag/${countryName}`);
      const data = await response.json();
      document.getElementById("editFlagPuzzleFlag").value = data.flag;
    }  


  async function editFlagPuzzleGameQuestion(Pid, item) {  
    item = JSON.parse(item); 
    
    document.getElementById("editFlagPuzzleCountry").innerHTML += `<option selected value="${item.country}">${item.country}</option>`;
    document.getElementById("editFlagPuzzleFlag").value = item.flag; 
    document.getElementById("puzzleFlagEditForm").action = `/admin/flag-puzzle-game/manage/${item._id}/${Pid}?_method=PUT`;
}     
</script>
  <script src="/admin/js/allQuiz.js"></script>
  <script src="/admin/js/draw-new-flag.js" ></script>
</div>
